/*
	Styles for CSS of David Xu Assignment1_Resume
*/

body{
	/* background-size: 100%; */
	/*background-color: green; */
	font-family: helvetica, arial, sans-serif;
    color: orange;
	min-height: 1600px;
	margin: 0px;
}

.bg{
	height: 100vh;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* This is Section1  */

.bg.section1{
	background-image: url("../image1/snow_bg_1024.png"); 
	background-position: center;
	background-size: cover;
	background-color: black;
	width: 100%;
	height: 1696px;
}

.section1-unity{
	margin-top: 152px;
	border: 3px solid white;
	padding: 5px;
}

.section1-nav li {
	display: inline;
	margin-top: 60px;
}

.section1-honorDiv{
	color: yellow;
	font: bold;
	font-size: 32px;
	padding-top: 36%;
	text-align: center;
}
.section1-honorDescription{
	color: white;
	font-size: 16px;
    text-align: center;
}

.section1-img-phone{
	float: right;
	position: absolute;
	top: 40px;
    right: 100px;
}


.section1-media{
	transform: rotate(-90deg);
	position: absolute;
	top: 627px;
    right: -266px;

}

.section1-media li{
	
	display: inline;
	margin: 10px;
}

.section1-scroll-square{
	width: 50px;
    height: 50px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
	margin: 300px auto 50px auto;
	  }
	  
.scroll{
    /* margin: 0; */
    margin:30px auto 50px auto;
}

.section1-arrow{
    /* margin: 0; */
	margin:400px auto 50px auto;
	color: white;
	position: absolute;
	/* font-size: 6px; */
	/* font-family: "Poppins"; */
	width: 50px;
	height: 20px;
	margin: 10%;
	margin-left: 15%;
	margin-right: 5%;
	margin-top: 800px;
}


/* This is Section2  */

.bg.section2{
	background-image: url("../image2/prototype_0001s_0006_Rectangle-2.png"); 
	background-position: center;
	background-size: cover;
	/* background-color: black; */
	width: 100%;
	height: 1322px;
}

.section2-01{
	float: left;
	position: absolute;
	top: 1800px;
    right: 982px;
}
.section2-square{
	width: 560px;
    height:560px;
    /* border-top: 15px solid white;
    border-left: 15px solid white;
	border-right: 15px solid white; */
	border: 15px solid white;
	position: absolute;
	margin: -260px 215px auto 375px;
	  }

.section2-invites{
	color: white;
	font: bold;
	font-size: 32px;
	position: absolute;
	top: 1844px;
	right: 734px;
}

.section2-active{
	color: white;
	font: bold;
	font-size: 32px;
	position: absolute;
	top: 1901px;
	right: 556px;
}
.section2-active-why{
	color: white;
	font-size: 11px;
	position: absolute;
	top: 1970px;
	right: 574px;

}

.section2-img-brush{
	float: right;
	position: absolute;
	top: 1800px;
	right: 100px;
	z-index: 1;
}

.section2-mid-compl{
	color: white;
	font-size: 47px;
    position: absolute;
    top: 2138px;
    right: 918px;
}

.section2-mid-we{
	color: white;
    font-size: 18px;
    position: absolute;
    top: 2146px;
    right: 181px;
}

.section2-share-hat-tool{
	position: absolute;
	/* font-size: 6px; */
	/* font-family: "Poppins"; */
	width: 1200px;
	height: 200px;
	display: inline-block;
	margin: 10%;
	margin-left: 15%;
	margin-right: 5%;
	margin-top: 1000px;
}

.section2-one{
margin-right: 5%;
width: 20%;
color: #ffffff;
display: inline-block;
float: left;
}

.share-text{
	position: relative;
	top: 1px;
	font-size: 12px;
	font-family: "Poppins";
	/* width: 150px;
	height: 300px;
	margin: 25%; */
}

/* This is Section3  */

.bg.section3{
	background-image: url("../image3/prototype_0008s_0008_Rectangle-41.png"); 
	background-position: center;
	background-size: cover;
	/* background-color: black; */
	width: 100%;
	height: 1322px;
}

/* This is Section4  */
.bg.section4{
	/* background-image: url("../image4/prototype_0005s_0002s_0000_Layer-18.png");  */
	background-position: center;
	background-size: cover;
	/* background-color: black; */
	width: 100%;
	height: 1322px;
}

/* This is Section5  */
.bg.section5{
	background-image: url("../image5/snow.png"); 
	background-position: center;
	background-size: cover;
	/* background-color: black; */
	width: 100%;
	height: 1322px;
/* This is Footer Section  */
}


.section-3{
	margin-top: 100px;

}



.hero.section-2{
	background-color: blue;
	text-align: center;
}
.hero.section-3{
	background-color:green;
	text-align: center;
}
.hero.section-4{
	background-color:pink;
	text-align: center;
}

.hero.section-5{
	background-color: orange;
	text-align: center;
}


footer{
	height: 250px;
	width: 100%;
	background-color: black;
	color: white;
}



.top {
	background:url("../image/.png");
	height: 500px;
	width: 1500px;
	background-size: cover;
}

*/

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}


h1, h2 {
  margin: 0;
  padding: 0;
}
.box {
  padding: 5px;
  color: #373737;
  font-weight: bold;
  font-size: 2em;
	width: 50px;
	height: 50px;
	background-color: #ddd;
	border: 1px solid #ccc;
}
.container {
	width: 95%;
	padding: 10px;
	margin: 20px auto;
	border: 2px solid green;
	background-color: #eee;
}

/* =========================
	Absolute and Fixed
============================ */
.container1 {
	height: 100px;
	position: relative; /* now anchors absolute items */
}
.a {
	position: absolute;
	top: 250px;
	left: 5px;
	background-color: red;

}
.b {
	position: absolute;
	top: 70px;
	left: 70px;
	background-color: orange;
  opacity: .9;
	  z-index: 1;
}
.c {
	position: absolute;
	top: 90px;
	left: 100px;
	background-color: yellow;
  z-index: 0;

}
.d {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: chocolate;
}
.e {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -25px;
	background-color: lightgreen;
}
.f {
	position: fixed;
	right: 10px;
	top: 50%;
	background-color: salmon;
}

/* ==============================
	Floats
================================= */
.container2 {
	overflow: hidden; /* now contains floats */
}
.g, .h, .i {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: turquoise;
}

.g {margin-right: 10px; }
.i {
	clear: left;
	background-color: orchid;
}
.j {
	clear: both;
	float: right;
	margin-left: 20px;
	margin-top: 20px;
	background-color: chartreuse;
}
